executor ="local"

params {
    downloadFastq = false
    downloadGenome = false
    downloadAnnotation = false
    createGenome = false
    mapping = true

    //SRAID=["SRR628589"]
    SRAID=["SRR628589", "SRR628588", "SRR628587", "SRR628586", "SRR628585", "SRR628584", "SRR628583", "SRR628582"]
    CHR = ["1", "2", "3", "4", "5", "6", "7", "8", "9", "10", "11", "12", "13", "14", "15", "16", "17", "18", "19", "20", "21", "22", "X", "Y"]
}


singularity {
    enabled = true
    cacheDir = 'singularity'
}

process {
    withLabel: SRA {
        container='marchment/sra-tools:v3.0.0'
    }

    withLabel: STAR {
        container='marchment/star:v2.7.10'
        //memory='5G'//A voir si ça est vraiment nécessaire
    }
}

