executor ="local"

params {
    SRAID=["SRR628589", "SRR628588", "SRR628587", "SRR628586", "SRR628585", "SRR628584", "SRR628583", "SRR628582"]
    CHR = ["1", "2", "3", "4", "5", "6", "7", "8", "9", "10", "11", "12", "13", "14", "15", "16", "17", "18", "19", "20", "21", "22", "X", "Y"]

    files = 'data/seqs/SRR*_{1,2}.fastq'
    referenceGenome = 'data/genome/referenceGenome.fa'
    annotatedGenome = 'data/annotation/annotedGenome.gtf'
    GenomeDir = 'data/index/GenomeDir/'
    trimmoFiles = 'data/trimmomatic/*{1,2}P.fastq'
    mappingFiles = 'data/map/*bam'
    baiFiles = 'data/map/*bai'

    nb_threads_star = 16
}


singularity {
    enabled = true
    cacheDir = 'singularity'
}

dag {
    enabled = true
    file = 'data/dag.dot'
}

process {
    withLabel: SRA {
        container='marchment/sra-tools:v3.0.0'
    }

    withLabel: STAR {
        container='marchment/star:v2.7.10'
        memory='31G' //STAR needs at least 30G of memory to run on the full human genome
    }
    
    withLabel: samtools {
        container='sebeclemence/samtools:v1.16.1'
    }

    withLabel:fastqc {
        container='quay.io/biocontainers/fastqc:0.11.9--0'
    }

    withLabel: trimmomatic {
        container='quay.io/biocontainers/trimmomatic:0.35--6'
    }
    
    withLabel: featureCounts {
        container='sebeclemence/featurecounts:v2.0.3'
    }

    withLabel: deseq2 {
        container='sebeclemence/deseq2:v1.38.1'
    }
}
