executor ="local"

params {
    SRAID=("SRR628589")// A ajouter les autres SRR628589 SRR628588 SRR628587 SRR628586 SRR628585 SRR628584 SRR628583 SRR628582
}

singularity {
    enabled = true
}

process {
    withLabel: downloadFastqFiles {
        container='marchment/sra-tools:v3.0.0'
    }

    withLabel: STAR {
        container='marchment/star:v2.7.10'
    memory='5G'//Avoir si ça est vraiment nécessaire
    }
}

